<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Collect 101
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Collect 101</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>Enter a word/phrase</ion-card-title><br/>
      <ion-card-subtitle>Fill the form below:</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Word or phrase</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Meaning (optional)</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Example (optional)</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">References (optional)</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <br/>
      <ion-button expand="block">등록</ion-button>

    </ion-card-content>
  </ion-card>


</ion-content>