<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Collect 101</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar placeholder="Enter your search word"></ion-searchbar>
  </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="none">
      <ion-label><strong>set out</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>to start an activity with a particular aim</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label><strong>set out</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>to start an activity with a particular aim</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label><strong>set out</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>to start an activity with a particular aim</ion-label>
    </ion-item>
  </ion-list>
</ion-content>