<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label><strong>Show my words/phrases only</strong></ion-label>
      <ion-toggle color="primary" [(ngModel)]="showMineToggle" (ionChange)="onToggleStatusChange()"></ion-toggle>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Collect 101</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- List of Text Items -->
  
  <ion-card *ngFor="let entry of entries; let i=index">
    <ion-card-header>
      <ion-card-title>{{ entry.phrase }}</ion-card-title>
      <br/>
      <ion-card-subtitle>{{ entry.definition }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><strong>Examples</strong></ion-label><br/>
      <ion-label>{{ entry.example }}</ion-label>
      <br/><br/>

      <ion-label><strong>References</strong></ion-label><br/>
      <ion-label>
        <a href="{{ entry.reference }}">{{ entry.reference }}</a>
      </ion-label>
    </ion-card-content>
  </ion-card>




</ion-content>
