<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label><strong>Show my words/phrases only</strong></ion-label>
      <ion-toggle color="primary" [(ngModel)]="showMineToggle" (ionChange)="onToggleStatusChange()"></ion-toggle>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Collect 101</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- List of Text Items -->
  
  <ion-card *ngFor="let entry of entries; let i=index">
    <ion-card-header>
      <div>
        <ion-card-title>{{ entry.phrase }}</ion-card-title>
      </div>
      
      <div *ngIf="entry.definition">
        <br/>
        <ion-card-subtitle>{{ entry.definition }}</ion-card-subtitle>
      </div>
      <div *ngIf="!entry.definition">
        <br/>
        <ion-card-subtitle>-</ion-card-subtitle>
      </div>
    </ion-card-header>
  
    <ion-card-content>
      <div *ngIf="entry.example">
        <ion-label><strong>Examples</strong></ion-label><br/>
        <ion-label>{{ entry.example }}</ion-label>
        <br/><br/>
      </div>

      <div *ngIf="entry.reference">
        <ion-label><strong>References</strong></ion-label><br/>
        <ion-label>
          <a href="{{ entry.reference }}">{{ entry.reference }}</a>
        </ion-label>
      </div>
    </ion-card-content>
  </ion-card>




</ion-content>
